/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
	font-size: 16px;
	margin: 0;
	background:linear-gradient(145deg ,#F5F5F5, #F5F5F5);
	color: #000;
	
	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  width: 900px;
  text-align: center;
  
}

h1{
	color: #000000;
	font-size: 50px;
}

#textbox{
  width: 90%;
  height: 200px;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

button{
  padding: 12px 60px;
  background: #DC3545;
  border: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
	background: #DC3545;
	background: #9F000F;
}

